body {
  background: white;
  font-family: "oswald", "sans-serif";
}

.section-gap {
  padding: 80px 0 40px 0;
}

.wrapper {
  max-width: 1230px;
  width: 92%;
  margin: 0 auto;
}

h2 {
  font-weight: 300 !important;
}

header .navbar {
  background-color: #de1f26 !important;
  padding: 0;
}
header .navbar .container-fluid {
  width: 92%;
}
header .navbar .container-fluid .navbar-brand {
  padding-bottom: 0;
}
@media (max-width: 1050px) {
  header .navbar .container-fluid .navbar-brand {
    width: 30%;
  }
}
@media (max-width: 500px) {
  header .navbar .container-fluid .navbar-brand {
    width: 20%;
  }
}
header .navbar .container-fluid .navbar-brand img {
  width: 20%;
}
@media (max-width: 1050px) {
  header .navbar .container-fluid .navbar-brand img {
    width: 30%;
  }
}
@media (max-width: 500px) {
  header .navbar .container-fluid .navbar-brand img {
    width: 100%;
  }
}
header .navbar .navbar-text h1 {
  color: #fff;
  margin-bottom: 0;
}
@media (max-width: 700px) {
  header .navbar .navbar-text h1 {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  header .navbar .navbar-text h1 {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  header .navbar .navbar-text h1 {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .plan-container .row {
    flex-direction: column;
    align-items: center;
  }
}
.plan-container .row .col {
  padding: 0;
}
@media (max-width: 600px) {
  .plan-container .row .col {
    width: 80%;
  }
}
.plan-container .row .col .image-container {
  width: 100%;
}
.plan-container .row .col .image-container img {
  width: 100%;
}
.plan-container .row .text-col {
  margin-left: 50px;
}
@media (max-width: 700px) {
  .plan-container .row .text-col {
    margin-left: 0;
    margin-top: 50px;
  }
}
.plan-container .row .text-col h2 {
  margin-bottom: 30px;
}

.card-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.card-container .card {
  width: 31%;
  border: 1px solid #000;
  border-radius: 25px;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 100px !important;
  position: relative;
}
@media (max-width: 1200px) {
  .card-container .card {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .card-container .card {
    width: 48%;
  }
}
@media (max-width: 700px) {
  .card-container .card {
    width: 100%;
  }
}
.card-container .card .unavailable-overlay {
  width: 100%;
  background: black;
  height: 100vh;
  position: absolute;
  z-index: 2;
  opacity: 0.8;
}
.card-container .card .unavailable-overlay .red {
  margin: 60% 0;
  background: #de1f26;
  position: absolute;
  width: 100%;
}
.card-container .card .unavailable-overlay .red h1 {
  padding: 10px 0;
  text-align: center;
  margin: 0;
  color: #fff;
}
.card-container .card .img-container {
  position: relative;
  max-height: 200px;
  overflow: hidden;
}
.card-container .card .card-body {
  padding: 50px;
}
.card-container .card .card-body .card-title {
  margin-bottom: 30px;
}
.card-container .card .card-body .btn {
  background: #de1f26;
  color: white;
  width: 100%;
  margin: 30px 0;
}
.card-container .card .sm-img {
  width: 150%;
}

footer {
  background-color: #de1f26;
  position: relative;
  bottom: 0;
}
footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  color: #fff;
}
footer .wrapper .logo-container {
  width: 10%;
}
@media (max-width: 600px) {
  footer .wrapper .logo-container {
    width: 30%;
  }
}
footer .wrapper .logo-container img {
  width: 100%;
}
footer .footer-big {
  display: flex;
}
@media (max-width: 600px) {
  footer .footer-big {
    display: none;
  }
}
footer .footer-small {
  display: none;
}
@media (max-width: 600px) {
  footer .footer-small {
    display: flex;
    flex-direction: column;
  }
  footer .footer-small .text {
    padding: 20px 0;
  }
}/*# sourceMappingURL=main.css.map */