body {
    background: white;
    font-family: 'oswald', 'sans-serif';
}

$red: #de1f26;

.section-gap {
    padding: 80px 0 40px 0;
}

.wrapper {
    max-width: 1230px;
	width: 92%;
	margin: 0 auto;
}

//typography
h2 {
    font-weight: 300 !important;
}

header {
    .navbar {
        background-color: $red !important;
        padding: 0;
        .container-fluid {
            width: 92%;
            .navbar-brand {
                padding-bottom: 0;
                @media (max-width: 1050px) {
                    width: 30%;
                }
                @media (max-width: 500px) {
                    width: 20%;
                }
                img {
                    width: 20%;
                    @media (max-width: 1050px) {
                        width: 30%;
                    }
                    @media (max-width: 500px) {
                        width: 100%;
                    }
                }
            }
        }
        .navbar-text {
            h1 {
                color: #fff;
                margin-bottom: 0;
                @media (max-width: 700px) {
                    font-size: 30px;
                }
                @media (max-width: 650px) {
                    font-size: 20px;
                }
                @media (max-width: 360px) {
                    font-size: 15px;
                }
            }
        }
    }
}

// the plan
.plan-container {
    .row {
        @media (max-width: 700px) {
            flex-direction: column;
            align-items: center;
        }
        .col {
            padding: 0;
            @media (max-width: 600px) {
                width: 80%;
            }
            .image-container {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
        .text-col {
            margin-left: 50px;
            @media (max-width: 700px) {
                margin-left: 0;
                margin-top: 50px;
            }
            h2 {
                margin-bottom: 30px;
            }

        }
    }
}

//cards

.card-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    .card {
        width: 31%;
        border: 1px solid #000;
        border-radius: 25px;
        overflow: hidden;
        text-decoration: none;
        margin-bottom: 100px !important;
        @media (max-width: 1200px) {
            width: 45%;
        }
        @media (max-width: 800px) {
            width: 48%;
        }
        @media (max-width: 700px) {
            width: 100%;
        }
        .img-container {
            position: relative;
            max-height: 200px;
            overflow: hidden;
        }
        .card-body {
            padding: 50px;
            .card-title {
                margin-bottom: 30px;
            }
            .btn {
                background: $red;
                color: white;
                width: 100%;
                margin: 30px 0;
            }
        }
        .sm-img {
            width: 150%;
        }
    }
}

//footer
footer {
    background-color: $red;
    position: relative;
    bottom: 0;
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        color: #fff;
        .logo-container {
            width: 10%;
            @media (max-width: 600px) {
                width: 30%;
            }
            img {
                width: 100%;
            }
        }
    }
    .footer {
        &-big {
            display: flex;
            @media (max-width: 600px) {
                display: none;
            }
        }
        &-small {
            display: none;
            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
                .text {
                    padding: 20px 0;
                }
            }
        }
    }
}